@{
    ViewData["Title"] = "List";
}

@model List<Kategori>


<div class="mb-3 border">


    <form asp-action="GetBooks">  <input name="id" placeholder="bir yazar ismi giriniz" />
        <button type="submit">ara</button>
    </form>

</div>

<table class="table">

    <thead>
        <tr>
            <th>ıd</th>
            <th>name</th>
        </tr>
    </thead>
    <tbody>
        @{

            foreach (var item in Model)
            {
                <tr>
                    <td>@item.Id</td>
                    <td>@item.Name</td>
                </tr>
            }
        }
    </tbody>
</table>
