
@{
    ViewData["Title"] = "Add";
}

@model Product
<h1>Add</h1>



<form asp-action="Add" method="post">

    <input asp-for="Name" />
    <input asp-for="Price" />
    <button type="submit">add</button>
</form>